@charset "utf-8";

:root {
--main-font: "Noto Sans", "Noto Sans KR", sans-serif;  /* body */
--heading-font: "Rowdies", cursive;                    /* heading */
--main-color: #000957;
--sub-color: #FFEB00;
--base-color: #F8E8EE;
--brand-secondary-color: #577BC1;
}

body {
    margin: 0;
    background: #4b001a;  /* đỏ rượu */
    font-family: Arial;
    color: white;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left, .right {
    height: 90vh;
    padding: 20px;
}

.left {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 30%;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
}

.wheel-container {
    position: relative;
}

#spin-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    background: gold;
    border: none;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
}

#winner-name {
    position: absolute;
    top: -50px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: yellow;
    display: none;
    animation: pop 0.6s ease;
}

@keyframes pop {
    0% { transform: scale(0.2); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

#question-box {
    padding: 20px;
}

#answers button {
    width: 100%;
    margin: 5px 0;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: white;
    color: black;
    font-size: 20px;
}

#result {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#question-text {
    font-size: 22px;  /* tăng từ mặc định lên 18px */
    margin-bottom: 15px;
}
#question-box h2 {
    font-size: 20px;  /* bạn có thể tăng lên 22px nếu muốn nổi bật */
    margin-bottom: 10px;
}
